- @img1 = %img{:alt => "", "data-transition" => "sliceDown", :src => "../../images/wtg/slide/1.jpg", :title => "HEHEHHEHE"}
- @img2 = %img{:alt => "", "data-transition" => "sliceDown", :src => "../../images/wtg/slide/2.jpg", :title => "HEHEHHEHE"}